@charset "utf-8";

body {
	color:black; background-color:white;
	font-size:100.00%;
	font-family: Nexa Light, sans-serif;/* Schriftart*/
	margin:0 auto;
	padding:0 0 0 0;
	width:880px;
}

/*Aufteilung*/
/*Header:*/
div#top {
	top:0;
	left:0;
	height:150px;
}
div#logo {
	width:100%;
	height:120px;
	padding:0 0 0 0;
}
div#top img {
	float:left; /*Bild links*/
	padding:0;
	margin:10;
}
div#top hr {
	/*color:#5A7B9B;*/
	background-color:#5A7B9B;
	height:1px;
}
div#lang {
	top:0;
	left:0;
	height:150px;
	text-align:left; 
}

/*Menu:*/
nav {
	font-size:0.91em;
	font-family:Nexa Light, sans-serif;
	float:right;
	margin:0;
	padding:0;
	top:150px;
	left:0;
	width:18.6em;
	height:30%;
}
nav ul {
	list-style-image:url("bluedot.png");
	list-style-type:square;
	list-style-position:inside;
}
nav li {
	margin:0;
	padding:0.5em;
}
nav a {
	display:block;
	padding:0.2em;
	/*font-weight:bold;*/
}
nav a:link {
	text-decoration:none;
	color:black;
}
nav a:visited {
	text-decoration:none;
	color:black;
}

/*Content:*/
div#content {
  margin-top:1.0em;
  margin-left:1.0em;
  margin-right:1.0em;
  /*margin-right:17.5em;*/
  padding:0 1em;
  min-width:16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}
div#content h1 {
  font-size:1.5em;
  margin:0 0 1em;
	color:#025A96;
}
div#content h2 {
  font-size:1.3em;
  margin:0 0.5em 1em;
	color:#025A96;
}
div#content h3 {
  font-size:1.1em;
  margin:0 0 1em;
	color:#025A96;
}
div#content p {
  font-size:1em;
  margin:1em 1em 1em;
	color:#5A7B9B;
}
div#content a:link {
	text-decoration:none; /*Link nicht unterstreichen*/
	font-weight:bold;
	color:#4169E1; 
}
div#content a:visited {
	text-decoration:none;
	font-weight:bold;
	color:#6495ED;
}
div#content li {
	margin-left:0.2em;
}
