<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">{{ partial "head" . }}
    <body>
    {{ partial "top" . }}
        <main>
            <hr>

            <p>{{- .Content -}}</p>

            {{ with .Params.git.repository }}
                <a href="{{ . }}" target="_blank">Git repository</a>
            {{ end }}

            {{ if and (.Params.git.repository) (.Params.git.aboutfile) }}
                {{ $url := urls.Parse .Params.git.repository }}
                {{ $apiUrl := "" }}

                {{ if eq $url.Host "github.com" }}
                    {{ $apiUrl = printf "https://api.github.com/repos%scontents/%s" $url.Path .Params.git.aboutfile }}
                {{ else if eq $url.Host "repository.ivev.bau.tu-bs.de" }}
                    {{ $apiUrl = printf "https://repository.ivev.bau.tu-bs.de/api/v1/repos%scontents/%s" $url.Path .Params.git.aboutfile }}
                {{ end }}

                {{ with $apiUrl }}
                    {{ $resp := getJSON (.) }}
                    {{ $resp.content | base64Decode | markdownify }}
                {{ end }}
            {{ end }}
        </main>
    {{ partial "bottom" . }}
    </body>
</html>