@charset "utf-8";

@font-face {
    font-family: 'NexaBold';
    src: url('/css/font/NexaBold.woff2') format('woff2'),
        url('/css/font/NexaBold.woff') format('woff'),
        url('/css/font/NexaBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src: url('/css/font/NexaLight.woff2') format('woff2'),
        url('/css/font/NexaLight.woff') format('woff'),
        url('/css/font/NexaLight.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    --light-blue: #5A7B9B;
    --dark-blue: #025A96;
    font-size: 100%;
    font-family: NexaLight, sans-serif; /* Schriftart*/
    margin: 0 auto;
    max-width: 880px;
}

/*Aufteilung*/
hr {
    background-color: var(--light-blue);
    height: 1px;
    border-width: 0;
}

/*Header:*/
#top {
    display: flex;
}

#logo img {
    margin: 10px;
}

/*Content:*/
#content {
    margin-inline: 1rem;
    min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}

#content p {
    margin: 1em 5px 1em;
}

#content li {
    margin-inline-start: 0.2em;
}

/* bottom:*/
#bottom {
    font-size: 0.5em;
    text-align: right;
    margin: 1rem;
}

/*  Headlines */
h1, h2, h3 {
    margin-block-end: 1em;
    color: var(--light-blue);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

/* anchors */
a {
    text-decoration: none; /*Link nicht unterstreichen*/
    font-weight: bold;
    color: var(--dark-blue);
}

a:visited {
    color: #6495ED;
}
